html{
  width:100%;
  height:100%;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(55,131,195,1) 34%, rgba(57,224,228,1) 92%);
}
h1{
  text-align:center;
}

body{
  text-align:center;
}
h3{
  padding-top: none;
}
p{
  padding-top: none;
}

.rock-button{
    background-image: url(../img/rock.jpg);
}


.paper-button{
  cursor: pointer;
}


.scissors-button{
  cursor: pointer;
}

.row{
  display:flex;
  justify-content: space-evenly;
}
.column{
  padding: 5px;
}
